@include responsive-font(5vw, 35px, 150px, 50px);

import 'react-image-load/assets/style.css'

@-ms-viewport{
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, label {
  padding: .5em;
  margin: .4em;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: .5em;
  min-height: 7em;
  background-color: #222;
  color: white;
}

.header h1 {
  margin: 0;
  padding: 1em 0 1em 0em;
}

.header ul {
  order: 3;
  padding: 5em 0em 1em 0em;
}

.image {
  margin: 1em 6em 1em 1em;
  width: 5em;
  height: 5em;
}

.header li {
  display: inline;
  text-align: right;
  margin: .5em;
  padding: .5em;
  background-color: darkslategray;
}

.header li:hover {
  text-decoration: underline;
}

.App {
  background-image: url("../images/solarPanels.jpeg");
  background-attachment: fixed;
  background-position: top 100px;
  background-size: cover;
}

.body {
  padding-top: 1.5em;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 2em;
  margin-bottom: 2em;
  min-height: 30em;
  border-radius: 2em;
}

.body li {
  border: none;
  width: 100%;
  list-style: inherit;
}

.App-intro {
  font-size: large;
}

li {
  list-style: none;
  border: 1px solid black;
  width: 10em;
}

.select {
  display: inline;
}

button {
  font-size: .8em;
  padding: .2em;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
  text-decoration: underline;
}
button:active {
	position:relative;
	top:1px;
}

select {
  font-size: .8em;
  padding: .2em;
}

.about, .links {
  padding-top: 1.75em;
}

.about p {
  text-align: left;
  margin: 1em 3em 0em 3em;
}

.about ul {
  text-align: left;
  margin: 0 3em 0 4em;
}

.about li {
  padding: .5em;
}

.links li {
  padding: .5em;
  display: block;
}

.links li:hover {
  color: orange;
}

.graph {
  margin-left: 5%;
  width: 90%;
}

.footer{
  min-height: 4em;
  background-color: darkslategray;
  color: white;
  padding: 10px;
}

.footer a {
  color: lightgray;
}

@media (max-width: 855px) {
  .header {
    flex-direction: column;
    justify-content: center;
    }
  .header h1 {
    padding: .25em;
  }
  .header .image {
    margin: .5em;
  }
  .header ul {
    /*float: right;*/
    padding: 1em;
  }
  }
